#paste-input-panel, #paste-setting-panel, #paste-uploaded-panel {
    border: 1px var(--color-border) solid;
    margin: 0.5rem 0;
}

#paste-header {
    background-color: var(--color-shadowed);
    display: flex;
    border-bottom: 1px var(--color-border) 1px;
}

#paste-header > div:last-child {
    border-bottom: 1px var(--color-border) solid;
    flex: 1;
}

.paste-header-tabs {
    display: flex;
}

.paste-tab {
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    padding: 0.6rem 0.5rem 0.7rem;
    background-color: inherit;
    color: var(--color-text-secondary);
    font-weight: 400;
    border: 1px transparent solid;
    border-bottom-color: var(--color-border);
    border-right-color: var(--color-border);
    transition: color 0.1s;
}

.paste-tab:hover {
    color: var(--color-text)
}

.paste-tab.enabled {
    border-bottom-color: transparent;
    background-color: var(--color-bg);
    color: var(--color-text-stress);
    font-weight: 600;
}

.paste-tab:last-child {
    border-right-color: transparent;
}

.paste-tab.enabled:last-child {
    border-right-color: var(--color-border);
}

.paste-tab-page {
    display: none;
    position: relative;
}

.paste-tab-page.enabled {
    display: inherit;
}

#paste-textarea, #paste-textarea-copy{
    width: 100%;
    min-height: 20em;
    font-family: monospace;
    font-size: 12px;
    border: none;
    outline: none;
    resize: vertical;
}

#paste-textarea-copy {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#paste-file-upload {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#paste-file-upload + label {
    cursor: pointer;
    height: 100%;
}

#paste-uploaded-panel, #paste-setting-panel {
    padding: 1rem;
}

#paste-uploaded-panel > h2, #paste-setting-panel > h2 {
    margin: 0;
    border: none;
}

#paste-file-line {
    margin: 1rem;
}

.label-line {
    display: block;
    margin: 0.3rem 0;
}

.small-label {
    display: block;
    color: var(--color-text-light);
    font-size: 11px;
}

.radio-label {
    font-size: 14px;
}

#paste-setting-model {
    position: fixed;
    z-index: 9000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#paste-setting-panel {
    background-color: #f4f4f4;
    max-width: 422px;
}

.paste-setting-subitem-panel {
    margin: 0.8rem 0;
}

.paste-setting-subitem-panel > input {
    border: 1px var(--color-border) solid;
    padding: 0.15rem 0.3rem;
    outline: none;
    font-size: 15px;
}

.paste-setting-subitem-panel > input::placeholder {
    color: var(--color-text-light)
}

#paste-url-input-wrapper {
    display: inline-block;
    border: 1px var(--color-border) solid;
    background-color: var(--color-bg);
    font-size: 13px;
    border-radius: 2px;
    min-width: 10em;
}

#paste-url-input-prefix {
    padding-left: 0.5rem;
    color: var(--color-text-light);
    user-select: none;
}

#paste-custom-url-input {
    border: none;
    border-left: 1px var(--color-border) solid;
    color: var(--color-text);
    background-color: inherit;
    padding: 0.1rem;
    outline: none;
}

#paste-admin-url-input {
    border: 1px var(--color-border) solid;
    background-color: var(--color-bg);
    outline: none;
    font-size: 13px;
    width: 30em;
    max-width: 80vw;
    border-radius: 2px;
}

input:not(:checked) ~ #paste-url-input-wrapper,
input:not(:checked) ~ #paste-admin-url-input {
    display: none;
}

#submit-button, #submit-confirm-button, #submit-cancel-button, #delete-button {
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: var(--color-text-white);
    cursor: not-allowed;
}

#submit-cancel-button {
    border: 1px solid;
    background-color: var(--color-shadowed);
    color: var(--color-text-light);
    cursor: pointer;
}


@media (max-width: 544px) {
    .long-button {
        width: 100%;
    }
}

#submit-button, #submit-confirm-button {
    background-color: var(--color-green-disabled);
    transition: background-color 0.15s;
}

#submit-button.enabled:hover, #submit-confirm-button:hover {
    background-color: var(--color-green-active);
}

#submit-button.enabled, #submit-confirm-button.enabled {
    border: 1px var(--color-green) solid;
    background-color: var(--color-green);
    cursor: pointer;
}

#delete-button {
    background-color: var(--color-shadowed);
    color: var(--color-red-disabled);
    transition: background-color 0.15s;
    border: 1px solid;
}

#delete-button.enabled {
    color: var(--color-red);
    cursor: pointer;
}

#submit-error-msg, #submit-confirm-error-msg {
    font-size: 12px;
    color: var(--color-red);
    display: inline-block;
    vertical-align: center;
    margin-left: 1em;
}

#delete-button.enabled:hover {
    background-color: var(--color-red);
    color: var(--color-text-white);
}

.uploaded-entry {
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    border: 1px var(--color-border) solid;
}

.uploaded-entry > input {
    flex: 1;
    width: 100%;
    height: 2.0rem;
    border: none;
    outline: none;
    padding-left: 0.3rem;
}

.copy-button {
    padding: 0 0.5rem;
    border: none;
    background-color: var(--color-green);
    color: var(--color-text-white);
    font-size: 13px;
    height: 2.0rem;
    transition: background-color 0.15s;
}

.copy-button:hover {
    background-color: var(--color-green-active);
}
